{% extends 'manager/base.html' %} {% block header %}Customers{% endblock header %}
{% block content %}
<main class="p-6">
  <div class="bg-gray-900 p-4 rounded-md">
    <!-- Search Bar -->
    <div class="mb-4 flex justify-between items-center">
      <input
        type="text"
        class="bg-gray-700 text-white px-4 py-2 rounded-md"
        placeholder="Search"
      />
      {% comment %} <a href="#" class="bg-blue-600 text-white px-4 py-2 rounded-md"
        >Add New User</a
      > {% endcomment %}
    </div>

    <!-- Brands Table -->
    <table class="w-full text-center text-sm bg-gray-800 rounded-md">
      <thead class="bg-gray-700 text-gray-300">
        <tr>
          <th class="px-4 py-2">User</th>
          <th class="px-4 py-2">email</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in page_obj %}
        <tr class="border-b border-gray-700 text-white">
          <td class="px-4 py-2">{{ customer.fullname }}</td>
          <td class="px-4 py-2">{{ customer.email }}</td>
          <td class="px-4 py-2">
            {% if customer.is_active %}
            <span class="text-green-500">Active</span>
            {% else %}
            <span class="text-red-500">Inactive</span>
            {% endif %}
          </td>
          <!-- Actions -->
          <td class="px-4 py-2 justify-center flex space-x-2">
            {% comment %} <!-- Edit Button -->
            <a
              href=""
              class="bg-green-600 px-3 py-1 rounded-md text-white hover:bg-green-500"
              title="Edit"
            >
              <i class="fas fa-edit"></i>
            </a> {% endcomment %}
            <!-- Block/Unblock Button -->
            {% if customer.is_active %}
            <a
              href="{% url 'toggle_user_status' customer.id %}"
              class="bg-red-600 px-3 py-1 rounded-md text-white hover:bg-red-500"
              title="Block"
            >
              <i class="fas fa-ban"></i>
            </a>
            {% else %}
            <a
              href="{% url 'toggle_user_status' customer.id %}"
              class="bg-yellow-600 px-3 py-1 rounded-md text-white hover:bg-yellow-500"
              title="Unblock"
            >
              <i class="fas fa-check-circle"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="mt-4 flex justify-center space-x-2">
      {% if page_obj.has_previous %}
      <a
        href="?page=1"
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
        >First</a
      >
      <a
        href="?page={{ page_obj.previous_page_number }}"
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
        >Previous</a
      >
      {% else %}
      <span
        class="bg-gray-700 text-white px-4 py-2 rounded-md cursor-not-allowed"
        >First</span
      >
      <span
        class="bg-gray-700 text-white px-4 py-2 rounded-md cursor-not-allowed"
        >Previous</span
      >
      {% endif %}

      <span class="bg-gray-700 text-white px-4 py-2 rounded-md">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
      <a
        href="?page={{ page_obj.next_page_number }}"
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
        >Next</a
      >
      <a
        href="?page={{ page_obj.paginator.num_pages }}"
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
        >Last</a
      >
      {% else %}
      <span
        class="bg-gray-700 text-white px-4 py-2 rounded-md cursor-not-allowed"
        >Next</span
      >
      <span
        class="bg-gray-700 text-white px-4 py-2 rounded-md cursor-not-allowed"
        >Last</span
      >
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}