{% extends 'store/base.html' %}
{% load static %}

{% block content %}
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Sidebar -->
      <div class="md:col-span-1">
        {% include 'store/profile_partials.html' with active_tab='change_password' %}
      </div>

      <!-- Main Content -->
      <div class="md:col-span-3">
        <div class="bg-white shadow rounded-lg p-6">
          <h2 class="text-2xl font-semibold">Change Password</h2>
          <form method="POST" class="space-y-4">
            {% csrf_token %}
            <script>
                const has_password = {{ has_password|yesno:"true,false" }};
            </script>
            {% if has_password %}
              <div>
                <label for="old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
                <input type="password" id="old_password" name="old_password" placeholder="Old Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-gray-500 focus:border-gray-500" required />
              </div>
            {% endif %}
            <div>
              <label for="new_password" class="block text-sm font-medium text-gray-700">New Password</label>
              <input type="password" id="new_password" name="new_password" placeholder="New Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-gray-500 focus:border-gray-500" required oninput="validatePasswords()" />
              <p id="old_password_match_error" class="text-red-500 text-sm mt-2" style="display: none;">Password should not be same as old password</p>
              <p id="password_error" class="text-red-500 text-sm mt-2" style="display: none;">Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, a digit, and a special character.</p>
            </div>
            <div>
              <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
              <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-gray-500 focus:border-gray-500" required oninput="validatePasswords()" />
              <p id="match_error" class="text-red-500 text-sm mt-2" style="display: none;">Passwords do not match.</p>
            </div>
            <button type="submit" id="submit_button" class="px-4 py-2 bg-gray-900 text-white rounded-lg hover:bg-gray-700 font-regular font-ubuntu" disabled>SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    function validatePasswords() {
      if (has_password) {
          const oldPassword = document.getElementById('old_password').value
          const oldPasswordMatchError = document.getElementById('old_password_match_error')
      }
      const newPassword = document.getElementById('new_password').value
      const confirmPassword = document.getElementById('confirm_password').value
      const submitButton = document.getElementById('submit_button')
      const passwordError = document.getElementById('password_error')
      const matchError = document.getElementById('match_error')
    
      // Password strength regex
      const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&\^#\(\)])[A-Za-z\d@$!%*?&\^#\(\)]{8,}$/
    
      let isValid = true
      // Check password strength
      if (!passwordRegex.test(newPassword)) {
        passwordError.style.display = 'block'
        isValid = false
      } else {
        passwordError.style.display = 'none'
      }
      if (has_password) {
        // Check if old password is entered
        if (!oldPassword) {
          oldPasswordMatchError.style.display = 'block'
          isValid = false
        } else {
          oldPasswordMatchError.style.display = 'none'
        }
      }
    
      // Check if passwords match
      if (newPassword !== confirmPassword) {
        matchError.style.display = 'block'
        isValid = false
      } else {
        matchError.style.display = 'none'
      }
    
      // Enable or disable submit button
      submitButton.disabled = !isValid
    }
    
    // Attach validation to password fields
    document.getElementById('new_password').addEventListener('input', validatePasswords)
    document.getElementById('confirm_password').addEventListener('input', validatePasswords)
    if (has_password){
        document.getElementById('old_password').addEventListener('input', validatePasswords)
    }
  </script>
{% endblock %}
