{% extends 'store/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row items-center justify-center">
    <!-- Headphones Image -->
    <div class="w-full md:w-1/2">
        <img src="{% static 'store/images/headphone.png' %}" alt="Headphones" class="mx-auto max-w-sm">
    </div>

    <!-- Reset Form -->
    <div class="w-full md:w-1/3 bg-white shadow-lg rounded-lg p-8">
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-gray-500 focus:border-gray-500" required>
            </div>
            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-gray-500 focus:border-gray-500" required>
            </div>
            <button type="submit" class="w-full py-2 bg-gray-900 text-white rounded-lg hover:bg-gray-700 font-regular font-ubuntu">SUBMIT</button>
        </form>
        {% comment %} <div class="mt-4 text-center">
            <p class="text-sm text-gray-600">Signup with others:</p>
            <a href="{% url 'login' %}" class="inline-block px-4 py-2 bg-white border border-gray-300 text-black rounded-lg shadow-md hover:shadow-lg hover:bg-gray-50 mt-2 focus:outline-none">
                <i class="fab fa-google mr-2"></i><span class="text-gray-700 font-medium">Signup with <span class="font-bold">Google</span></span>
            </a>
        </div> {% endcomment %}
    </div>
</div>
{% endblock %}