{% extends 'base.html' %} {% block header %}Brands{% endblock header %}
{% block content %}
<main class="p-6">
  <div class="bg-gray-900 p-4 rounded-md">
    <!-- Search Bar -->
    <div class="mb-4 flex justify-between items-center">
      <input
        type="text"
        class="bg-gray-700 text-white px-4 py-2 rounded-md"
        placeholder="Search Brands"
      />
      <a href="#" class="bg-blue-600 text-white px-4 py-2 rounded-md"
        >Add New Brand</a
      >
    </div>

    <!-- Brands Table -->
    <table class="w-full text-center text-sm bg-gray-800 rounded-md">
      <thead class="bg-gray-700 text-gray-300">
        <tr>
          <th class="px-4 py-2">Brand</th>
          <th class="px-4 py-2">Number of Products</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for brand in brands %}
        <tr class="border-b border-gray-700 text-white">
          <td class="px-4 py-2">{{ brand.name }}</td>
          <td class="px-4 py-2">{{ brand.product_count }}</td>
          <td class="px-4 py-2">
            {% if brand.is_active %}
            <span class="text-green-500">Active</span>
            {% else %}
            <span class="text-red-500">Blocked</span>
            {% endif %}
          </td>
          <td class="px-4 py-2 justify-center flex space-x-2">
            <a
              href="#"
              class="bg-green-600 px-3 py-1 rounded-md text-white hover:bg-green-500 w-full text-center"
              >Edit</a
            >

            {% if brand.is_active %}
            <a
              href="#"
              class="bg-red-600 px-3 py-1 rounded-md text-white hover:bg-red-500 w-full text-center"
              >Block</a
            >
            {% else %}
            <a
              href="#"
              class="bg-yellow-600 px-3 py-1 rounded-md text-white hover:bg-yellow-500 w-full text-center"
              >Unblock</a
            >
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="mt-4 flex justify-center space-x-2">
      <button
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
      >
        Previous
      </button>
      <button class="bg-blue-600 text-white px-4 py-2 rounded-md">1</button>
      <button
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
      >
        2
      </button>
      <button
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
      >
        3
      </button>
      <button
        class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600"
      >
        Next
      </button>
    </div>
  </div>
</main>
{% endblock content %}
