<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script>
      // Close the message bar when the close button is clicked
      document.addEventListener("DOMContentLoaded", () => {
        const closeButton = document.getElementById("close-message");
        const messageBar = document.getElementById("message-bar");

        if (closeButton) {
          closeButton.addEventListener("click", () => {
            messageBar.style.display = "none";
          });
        }
      });
    </script>

    <style>
      /* Custom Fonts */
      .font-ubuntu {
        font-family: "Ubuntu", sans-serif;
      }
      .font-roboto {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col font-roboto">
    <!-- Header -->
    <header class="bg-gray-800 text-white">
      <div class="max-w-7xl mx-auto px-4 py-3">
        <h1 class="text-3xl font-semibold font-ubuntu">echo.</h1>
      </div>

      <!-- Message Bar -->
      {% if messages %}
      <div id="message-bar" class="fixed left-0 w-full z-50">
        <div
          class="bg-red-500 text-white py-2 px-4 text-center shadow-md flex items-center justify-between"
        >
          <div>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          <button
            id="close-message"
            class="bg-red-700 hover:bg-red-600 text-white font-bold py-1 px-3 rounded ml-4"
            aria-label="Close Message"
          >
            ×
          </button>
        </div>
      </div>
      {% endif %}
    </header>

    <!-- Main Content -->
    <main class="flex-grow flex items-center justify-center">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
        <h2 class="text-center text-2xl font-bold mb-6">Admin Login</h2>
        <form method="post">
          {% csrf_token %}
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="email"
            >
              Email
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="text"
              name="email"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Password
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              name="password"
              placeholder="Enter your password"
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
